.authHeading {
  font-size: clamp(1rem, 4vw + 1rem, 2.8rem);
}

.formHeading {
  font-size: clamp(1rem, 4vw + 1rem, 2rem);
  margin-bottom: 0;
  color: var(--black-color) !important;
}

.wrapper {
  max-width: 768px;
  margin-inline: auto;
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width:480px) {
  .wrapper {
    padding-block: 1rem;
  }
}
